<div class="Back-Home-Container">
    {{!-- <a href="/">⬅ Back to Home</a> --}}
    <a href="/movies/{{review.movieId}}">⬅ Back to {{review.movieTitle}}</a>
</div>

<div class="Review-Show-Container">
    <div class="Edit-Container">
        <a class="Edit" href="/reviews/{{review._id}}/edit">Edit</a>
        <form method="POST" action="/reviews/{{review._id}}?_method=DELETE">
            <button class="Delete" type="submit">Delete</button>
        </form>
    </div>
    <div class="Review-Show">
        <h1>{{review.title}}</h1>
        <p class="text-muted">Created on: {{review.createdAtFormatted}}</p>
        <h2>{{review.movieTitle}}</h2>
        <p>{{review.description}}</p>
    </div>

    <hr>
    {{> comment-form}}

    {{#each comments}}
        {{> comment comment=this movieId=../review.movieId}}
    {{/each}}
</div>

